
.game-board{
    display: grid;
    height: inherit;
    background-color: whitesmoke;
    gap: 0 0;
}
.game-board--easy{
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5, 1fr)
}

.game-board--medium{
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5, 1fr)
}

.game-board--hard{
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5, 1fr)
}

.game-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
}
.bot{
    width:50%;
    height:50%;
}