
.game-board{
    display: grid;
    height: inherit;
    background-color: whitesmoke;
    gap: 0 0;
}
.game-board--easy{
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5, 1fr)
}

.game-board--medium{
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5, 1fr)
}

.game-board--hard{
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5, 1fr)
}

.game-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
}

.game-cell__label{
    font-family: inherit;
    font-size: 3em;
    color: black;
}

.bot{
    width:50%;
    height:50%;
}

.finish-cell{
    width: 100%;
    height:100%;
}

@keyframes zoom-in-on-board {
    0%{
       transform: scale(0,0);
    }
    100%{
      transform: scale(1,1);
    }
}

@keyframes zoom-out-on-board {
    0%{
       transform: scale(1,1);
    }
    100%{
      transform: scale(0,0);
    }
}
.bot--animate--in{
    animation-name: zoom-in-on-board;
    animation-duration: 1s;
    animation-timing-function:ease;
}

.bot--animate--out{
    animation-name: zoom-out-on-board;
    animation-duration: 1s;
    animation-timing-function:ease;
}

