.App{
  background-color: black;
  color: gainsboro;
}

.app-body{
  display: flex;
}

.app-body__board{
  background-color: gold;
  flex-basis: 70%;
}

.app-body__controls{
  background-color: hotpink;
  flex-basis: 30%;
}
